.main-inner {
    text-align: center;
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.profile-form {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

.main-title {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.custom-file-label {
    display: inline-block;
    color: #ff5655;
    border: 2px solid #ff5655;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 40px
}

.button-edit {
    width: 100%;
    box-sizing: border-box;
    background: #ff5655;
    border: none;
    color: white;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}

.form-error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}